.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  position: relative;
  margin-bottom: 50px;
}

.container:last-child {
  margin-bottom: none;
}

input {
  width: 200px;
  height: 30px;
  font-size: 0.9rem;
}

.Ask {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  border: 1px solid silver;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: default;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 150px;
  pointer-events: none;
}

.ToolTip {
  border: silver 1px solid;
  width: 180px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 105%;
  transform: translate(0, -50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
